{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Audio Player HTML -->
    <div class="audio-player">
        <h1>Demo - Preview Song</h1>
        <img class="cover" src="{% static 'Player/kanha.jpg' %}" alt="player-image">
        <audio id="audio-player" src="{% static 'Player/jugnu.mp3' %}" type="audio/mp3" controls="controls"></audio>
    </div>
</body>
</html>